body {
    text-align: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    font-weight: bolder;
}

.Rules {
    font-size: 26px;
}

#buttons {
    display: inline;
    cursor: pointer;
}

#abc li {
    display: inline;
    font-size: 40px;
}

.guess {
    display: inline;
    font-size: 40px;
}

.container {
    font-size: 30px;
}

button {
    font-size: 20px;
}